@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
/* ---------major */
:root {
  --c-selection: #b8ddec;
  --c-header-button: #ffffff10;
  --c-header-button-hover: #ffffff18;
  --c-page: #181820;

  --c-main-first: #000004;
  --c-main-first-hover: #08080c;
  --c-main-first-inv: #fffffd;
  --c-main-first-hover-inv: #f7f7f3;

  --c-main-purple: #8b00ff;
  --c-main-active: #8b4dd5;
  --c-main-active-hover: #7b3dc5;
  --c-main-active-hover-bg: #8446d430;

  --c-font: #fff;
  --c-font-inv: #000;
  --c-svg: #fff;
  --c-svg-hover: #e0e0e0;
  --c-hr: #404044;
  --c-link: #1ba2ef;
}

/* ------------------LOADERS */
.loader_container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: var(--c-main-purple);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.entry_1 {
  opacity: 0;
  animation: entry 0.4s forwards;
  transform: translateY(-50%);
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.entry_2 {
  opacity: 0;
  animation: entry 0.6s forwards;
  transform: translateY(-50%);
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.entry_3 {
  opacity: 0;
  animation: entry 0.8s forwards;
  transform: translateY(-50%);
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.entry_4 {
  opacity: 0;
  animation: entry 1s forwards;
  transform: translateY(-50%);
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* COMMAND */

.command_page__main__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.command {
  background: var(--c-main-first);
  overflow: hidden;
  border-radius: 16px;
  padding: 16px 0 16px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.command_wrapper {
  display: flex;
  flex-direction: column;
}

.command__title {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 99;
  padding-bottom: 0px;
  transition: all 200ms cubic-bezier(0, 1, 0, 1);
}

.command.opened .command__title {
  padding-bottom: 16px;
  transition: all 200ms ease-in-out;
}

.command_switch {
  cursor: pointer;
  display: grid;
  align-items: end;
  transition: all 200ms cubic-bezier(0, 1, 0, 1);
  padding: 0 20px;
}

.command.opened .command_switch {
  transition: all 200ms ease-in-out;
}

.command_switch svg {
  transform: rotate(0deg);
  transition: transform 150ms linear;
}

.command.opened .command_switch svg {
  transform: rotate(180deg);
}

.command__title_name {
  border-radius: 8px;
  padding: 4px 16px;
  background-color: var(--c-main-active);
  margin: 0px 2px;
}

.command__body_wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 200ms cubic-bezier(0, 1, 0, 1);
}

.command.opened .command__body_wrapper {
  grid-template-rows: 1fr;
  transition: all 200ms ease-in-out;
}

.command__body {
  display: flex;
  min-height: 0;
  gap: 16px;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms cubic-bezier(0, 1, 0, 1);
}

.command.opened .command__body {
  visibility: visible;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.command__body .command__body_paragraph {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.command__body .command__body_paragraph p {
  margin: 0;
  width: 100%;
}
/* -------------------MAIN PAGE */
.main_page__grid_container {
  display: grid;
  grid-template-rows: auto auto auto;
}

.main_page__block {
  width: 1320px;
  margin-inline: auto;
}

.main_page__block_title {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 64px;
  background-color: var(--c-main-purple);
  z-index: 2;
}

.main_page__block_title > div {
  display: flex;
  justify-content: center;
}

.main_page__block_title__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
}

.main_page__block_title__logo {
  justify-self: end;
  padding: 10px;
}

.main_page__block_title__info {
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.main_page__block_title__info__about {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main_page__block_title__info__about h4 {
  font-size: 40px;
}

.main_page__block_title__info__links {
  display: flex;
  gap: 16px;
}

.main_page__block_title__info__links > a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  border-radius: 24px;
  font-weight: 700;
}

#main_page__invite {
  background: var(--c-main-first);
  color: var(--c-font);
}

#main_page__invite:hover {
  background: var(--c-main-first-hover);
}

#main_page__servers {
  background: var(--c-main-first-inv);
  color: var(--c-font-inv);
}

#main_page__servers:hover {
  background: var(--c-main-first-hover-inv);
}

.main_page__block_hr {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 571px;
  background-color: var(--c-main-first);
}

.main_page__block_hr__container {
  width: 1320px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.main_page__block_hr__container p {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.main_page__block_hr__container > div {
  display: flex;
  gap: 32px;
  justify-content: end;
  width: 100%;
}

.main_page__block_hr__container > div > div {
  background-size: 60px 60px;
  background-position: 50% 50%;
  height: 60px;
  width: 60px;
  border-radius: 12px;
}

.main_page__block_info {
  margin-top: 647px;
}

.main_page__block_info__dignity {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 64px;
}
/* -------------------------EMNBED BUIDER */

.ebuilder_page__main_grid_container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 6px));
  gap: 12px;
  height: 100%;
}

/* ---------------------------spans */

.ping {
  cursor: pointer;
  color: #c9cdf2;
  background: #5865f260;
  padding: 2px 4px;
  margin: 0px 1px;
  border-radius: 4px;
}

.ping:hover {
  background: #5865f2;
}

.usage {
  padding: 4px 16px;
  background: #222;
  border-radius: 8px;
}

.usage_short {
  padding: 4px 8px;
  background: #202024;
  border-radius: 8px;
}

.usage,
.usage_short,
.usage *,
.usage_short * {
  font-weight: 500;
  font-family: 'Inconsolata', monospace, 'Nunito Sans', Arial, Helvetica,
    sans-serif;
}
.usage_info {
  padding: 4px 8px;
  background: #101014;
  border-radius: 8px;
}
