@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-[100vh] w-full tracking-wider text-lt-font dark:text-dt-font font-main;
}
*::selection {
  @apply bg-lt-selection dark:bg-dt-selection;
}
svg {
  @apply fill-lt-svg dark:fill-dt-svg transition-all duration-150 ease-linear;
}
header {
  @apply fixed top-0 self-start w-full h-16 flex items-center z-20 transition-all duration-150 ease-linear;
}
header.scrolled {
  @apply bg-lt-main dark:bg-dt-main dark:text-dt-font shadow-md shadow-lt-main/50 dark:shadow-dt-main/50 text-lt-font;
}
header:not(.scrolled):has(#home.active) {
  @apply text-dt-font;
}
header:not(.scrolled):has(#home.active) svg {
  @apply fill-dt-svg;
}
.header-btn {
  @apply rounded-full flex items-center gap-1.5 cursor-pointer hover:bg-header-btn-hover transition-colors duration-200 ease-linear;
}
.page {
  @apply pt-16 bg-lt-second dark:bg-dt-second w-full min-h-[calc(100vh-156px)] pb-4;
}
.size-limit {
  @apply max-w-[1320px];
}
.commands_search {
  @apply h-full w-full  bg-lt-main hover:bg-lt-main-hover dark:bg-dt-main dark:hover:bg-dt-main-hover rounded-2xl p-[15px] pl-[50px] outline-none border-2 border-solid border-lt-main dark:border-dt-main hover:border-lt-main-hover dark:hover:border-dt-main-hover  focus:border-main-active  hover:focus:border-main-active transition-colors duration-150 ease-linear;
}
.commands_search_label {
  @apply transition-colors duration-150 ease-linear absolute top-4 left-4;
}
.commands_search:hover + label path {
  @apply fill-lt-svg-hover dark:fill-dt-svg-hover;
}
.commands_search:focus + label path {
  @apply fill-main-active;
}
.commands_category_btn {
  @apply h-10 rounded-lg py-2 px-3 border-2 select-none border-solid border-lt-main dark:border-dt-main flex gap-4 items-center cursor-pointer hover:bg-lt-main-hover dark:hover:bg-dt-main-hover  transition-all duration-150 ease-linear;
}
.commands_category_btn:hover svg {
  @apply fill-lt-svg-hover dark:fill-dt-svg-hover;
}
.commands_category_btn.current {
  @apply text-main-active hover:text-main-active-hover hover:bg-main-active-hover-bg;
}
.commands_category_btn.current svg {
  @apply fill-main-active;
}
.commands_category_btn.current:hover svg {
  @apply fill-main-active-hover;
}
.commands_sidebar_info {
  @apply bg-lt-main dark:bg-dt-main rounded-2xl p-3;
}
.commands_sidebar_info.opened svg {
  @apply fill-main-active rotate-180;
}
.commands_sidebar_info.opened:hover svg {
  @apply fill-main-active-hover;
}
.commands_sidebar_info.opened > div:first-child {
  @apply text-main-active fill-main-active duration-200 ease-in-out;
}
.commands_sidebar_info.opened:hover > div:first-child {
  @apply bg-main-active-bg text-main-active-hover;
}
.commands_sidebar_info.opened > div:last-child {
  @apply pt-2 grid-rows-[1fr] ease-in-out;
}
.commands_sidebar_info.opened > div:last-child > div {
  @apply visible opacity-100 ease-in-out;
}
.commands_sidebar_info_title {
  @apply h-10 rounded-lg py-2 px-3 flex gap-4 items-center cursor-pointer transition-all duration-150 ease-linear select-none hover:bg-lt-main-hover dark:hover:bg-dt-main-hover;
}
.commands_sidebar_info_title:hover svg {
  @apply fill-lt-svg-hover dark:fill-dt-svg-hover;
}
.commands_sidebar_info_body {
  @apply pt-0 grid grid-rows-[0fr] overflow-hidden transition-all duration-200 ease-out-max;
}
.ping {
  @apply cursor-pointer text-lt-ping hover:text-dt-ping bg-dt-ping hover:bg-lt-ping dark:text-dt-ping  dark:bg-ping-bg  dark:hover:bg-ping-hover-bg  dark:hover:text-ping-hover hover:underline px-1 py-0.5 rounded  transition-colors duration-150 ease-linear;
}
.command {
  @apply bg-lt-main dark:bg-dt-main overflow-hidden rounded-2xl	py-4 pl-5 grid grid-cols-[1fr_auto];
}
.command.opened > div {
  @apply pb-4 ease-in-out;
}
.command.opened > svg {
  @apply rotate-180;
}
.command.opened > div > div:first-child {
  @apply pb-4;
}
.command.opened > div:first-child > div:last-child {
  @apply grid-rows-[1fr] ease-in-out;
}
.command.opened > div:first-child > div:last-child > div {
  @apply visible opacity-100 ease-in-out;
}
.command_wrapper {
  @apply cursor-pointer justify-between flex select-none z-10 transition-all duration-200 ease-out-max;
}
.command_expand {
  @apply cursor-pointer grid items-end transition-all duration-200 ease-out-max px-5;
}
.command_body {
  @apply grid grid-rows-[0fr] overflow-hidden transition-all duration-200 ease-out-max;
}
.command_body_content {
  @apply flex min-h-0 gap-4 flex-col invisible opacity-0 transition-all duration-200 ease-out-max;
}
.command_body_content a {
  @apply text-link;
}
.usage {
  @apply py-1 px-4 rounded-lg bg-lt-third dark:bg-dt-third font-inconsolata;
}
.loader_container {
  @apply grid justify-center items-center;
}
.loader {
  @apply rounded-[50%] w-24 h-24 text-dt-third dark:text-lt-third rotate-45;
}
.loader:before,
.loader:after {
  @apply block content-[''] absolute top-0 left-0 w-24 h-24 rounded-3xl;
}
.loader:before {
  /* transform: rotateX(70deg); */
  @apply animate-load-spin;
}
.loader:after {
  /* transform: rotateY(70deg); */
  @apply text-main-purple animate-load-spin-delay;
}
.dignity-list {
  @apply size-limit mx-auto flex flex-col gap-4 m-4 px-8 pt-8 transition-all duration-150 ease-in;
}
.dignity-list > div:nth-child(even) > div:first-child {
  @apply order-1;
}
.dignity {
  @apply grid grid-cols-2 gap-16;
}

.theme-changing {
  @apply fixed w-full h-full z-30 bg-lt-main dark:bg-dt-main flex items-center duration-300 ease-out transition-all;
}

.theme-changing svg {
  @apply duration-300 ease-out transition-all;
}

.theme-changing.dark > #theme-moon {
  transform: rotateY(0deg) translate(50%);
  @apply right-[50%];
}

.theme-changing.light > #theme-moon {
  transform: rotateY(-45deg) translate(50%);
  @apply right-[0%] opacity-0;
}

.theme-changing.dark > #theme-sun {
  transform: rotateY(45deg) translate(-50%);
  @apply left-[0%] opacity-0;
}

.theme-changing.light > #theme-sun {
  transform: rotateY(0deg) translate(-50%);
  @apply left-[50%];
}
