body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.server-selection {
  display: flex;
  gap: 32px;
}

.server {
  height: 192px;
  width: 384px;
  background-color: black;
  padding: 32px;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: center;
  border-radius: 32px;
}

.server-icon {
  width: 96px;
  height: 96px;
  border-radius: 16px;
}

.server-text {
  color: white;
  font-size: 24px;
  word-break: keep-all;
  hyphens: auto; /*work only with same "lang" in html element*/
  text-align: center;
  width: 100%;
}